.menu-ul{
    display: flex;
    margin-right: 20px;
    float: right;
    list-style: none;
}
.menu-ul li{
    margin-left: 20px;
    color: #fff;
}

.header-menu{
    display: flex;
    background-color: #000;
}
.menu-ul li a{
    color:#fff;
}
.login-logout{
    display: flex;
    margin-right: 20px;
    float: right;
    list-style: none;
}
.login-logout li {
    margin-left: 20px;
    color: #fff;
}
.login-logout li a {
    color:#fff;
}
