<section class="u-align-center u-clearfix u-palette-5-dark-3 u-section-2" id="carousel_c882">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <h1 class="u-custom-font u-font-raleway u-text u-text-1">Model Comparison</h1>
    <p class="u-text u-text-2">To find the right model for you, first choose the car you're interested in. <br>Then select up to three models to review and easily compare their features.
    </p>
    <div class="u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-1">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
            <div class="u-align-center u-container-style u-expanded-width u-group u-palette-5-dark-2 u-group-1">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h3 class="u-custom-font u-font-raleway u-text u-text-3">All ROad</h3>
              </div>
            </div>
            <img alt="" class="u-expanded-width u-image u-image-default u-image-1" src="{{myimage}}">
            <div class="u-container-style u-expanded-width u-group u-group-2">
              <div class="u-container-layout u-valign-top u-container-layout-3">
                <p class="u-align-center u-text u-text-4">Starting at <b>10</b>
                </p>
                <ul class="u-align-left u-custom-list u-text u-text-5">
                  <li>
                    <div class="class u-list-icon">
                     
                    </div>5/7 Seats
                  </li>
                  <li>
                    <div class="class u-list-icon">
                      
                    </div>velit esse cillum
                  </li>
                  <li>
                    <div class="class u-list-icon">
                     
                    </div>dolore eu fugiat nulla
                  </li>
                  <li>
                    <div class="class u-list-icon">
                    
                    </div>non proident
                  </li>
                </ul>
                <a href="https://nicepage.studio" class="u-btn u-btn-rectangle u-button-style u-palette-4-base u-btn-1">learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
            <div class="u-align-center u-container-style u-expanded-width u-group u-palette-4-base u-video-cover u-group-3">
              <div class="u-container-layout u-valign-middle u-container-layout-5">
                <h3 class="u-custom-font u-font-raleway u-text u-text-6">Eclipse Cross</h3>
              </div>
            </div>
            <img alt="" class="u-expanded-width u-image u-image-default u-image-2" src="{{myimage}}">
            <div class="u-container-style u-expanded-width u-group u-video-cover u-group-4">
              <div class="u-container-layout u-valign-top u-container-layout-6">
                <p class="u-align-center u-text u-text-default u-text-7">Starting at <b>$22,995</b>
                </p>
                <ul class="u-align-left u-custom-list u-text u-text-default u-text-8">
                  <li>
                    <div class="class u-list-icon">
                      
                    </div>5/7 Seats 
                  </li>
                  <li>
                    <div class="class u-list-icon">
                     
                    </div>velit esse cillum 
                  </li>
                  <li>
                    <div class="class u-list-icon">
                    
                    </div>dolore eu fugiat nulla 
                  </li>
                  <li>
                    <div class="class u-list-icon">
                    
                    </div>non proident
                  </li>
                </ul>
                <a href="https://nicepage.com/c/full-width-slider-html-templates" class="u-btn u-btn-rectangle u-button-style u-palette-4-base u-btn-2">learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-3">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-7">
            <div class="u-align-center u-container-style u-expanded-width u-group u-palette-5-dark-2 u-video-cover u-group-5">
              <div class="u-container-layout u-valign-middle u-container-layout-8">
                <h3 class="u-custom-font u-font-raleway u-text u-text-9">Shogun Sport</h3>
              </div>
            </div>
            <img alt="" class="u-expanded-width u-image u-image-default u-image-3" src="{{myimage}}">
            <div class="u-container-style u-expanded-width u-group u-video-cover u-group-6">
              <div class="u-container-layout u-valign-top u-container-layout-9">
                <p class="u-align-center u-text u-text-default u-text-10">Starting at <b>$39,995</b>
                </p>
                <ul class="u-align-left u-custom-list u-text u-text-default u-text-11">
                  <li>
                    <div class="class u-list-icon">
                     
                    </div>5/7 Seats
                  </li>
                  <li>
                    <div class="class u-list-icon">
                      
                    </div>velit esse cillum
                  </li>
                  <li>
                    <div class="class u-list-icon">
                      
                    </div>dolore eu fugiat nulla
                  </li>
                  <li>
                    <div class="class u-list-icon">
                     
                    </div>non proident
                  </li>
                </ul>
                <a href="https://nicepage.com/c/sports-website-templates" class="u-btn u-btn-rectangle u-button-style u-palette-4-base u-btn-3">learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>